@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #ff3f34;
    padding-bottom: 10px
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

h3 {
    color: white;
    font-weight: 100;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

h3::after {
    content: "";
    display: block;
    background: white;
    height: 2px;
    width: 100%;
}

input {
    width: 300px;
    text-align: center;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

button {
    display: block;
    width: 150px;
    padding: 5px 10px;
    background: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 8px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.container img.thum_1 {
    display: none;
}

.container img.thum_1 {
    width: 300px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.container img.id_image {
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.container h4 {
    color: white;
    font-weight: 100;
}

.container p {
    width: 300px;
}

.content_container {
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.600);
    padding: 10px;
}

.content_container h4,
p {
    color: rgba(0, 0, 0, 0.600);
    font-weight: 100;
}

.content_container h4::after {
    background: rgba(0, 0, 0, 0.600);
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 5px 0px;
}

@media screen and (max-width:500px) {
    .content_container {
        margin: 10px 10px 0px 10px;
    }
}